  .boton_2{
    text-decoration: none;
    padding: 40px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 25px;
    color: black;
    background-color: #9b0e0e;
  }
  .boton_2:hover{
    color: #9b0e0e;
    background-color: #bc6355;
    text-decoration: none;
  }
   .boton_personalizado{
    text-decoration: none;
    padding: 40px;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }
  .img {
  border-radius: 50%;
}
#formItem label {
    text-align:center;
    line-height:150%;
    font-size:.85em;
}

